body {
	width: 800px;
	margin: 0 auto;
}
#header,
#footer {
	margin: 0;
}

.content {
	float: right;
	width: 600px;
	clear: both;
}

#sidebar {
	width: 180px;
	clear: none;
	float: none;
}

@media screen and (max-width: 840px) {
	body {
		width: auto;
	}
	.content {
		float: none;
		width: auto;
	}
	#sidebar {
		width: auto;
	}
}
